# VSC Cmake gitignore template

[Bb]uild/
build*/
out/
bin/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

*.o
*.obj
*.ko
*.so
*.so.*
*.dylib
*.dll
*.lib
*.a
*.la
*.lai

*.exe
*.out
*.app

*.pdb
*.ilk
*.exp
*.gch

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.DS_Store
Thumbs.db